body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.playerContainer {
    background-color: azure;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.enemyContainer {
    display: flex;
    background-color: bisque;
}

.enemyContainer img {
   height: 250px;
   width: 250px;
   margin-right: 30px;
}

button {
    background: transparent;  
}

img {
    padding: 0;
    margin: 0;
}

.enemyContainer p {
    flex: 1;
    align-self: center;
    text-align: left;
}
